In [2]:
import pandas as pd
import json

In [3]:
supervised_call_graphs = pd.read_json("../dataset/raw/supervised_call_graphs.json")
supervised_dataset = pd.read_csv("../dataset/raw/supervised_dataset.csv")
remaining_behavior_ext = pd.read_csv("../dataset/raw/remaining_behavior_ext.csv")
remaining_call_graphs = pd.read_json("../dataset/raw/remaining_call_graphs.json")

In [4]:
print("supervised_call_graphs")
display(supervised_call_graphs.head())

print("supervised_dataset")
display(supervised_dataset.head())

print("remaining_behavior_ext")
display(remaining_behavior_ext.head())

print("remaining_call_graphs")
display(remaining_call_graphs.head())

supervised_call_graphs

,_id,call_graph
0,1f2c32d8-2d6e-3b68-bc46-789469f2b71e,[{'toId': '1f873432-6944-3df9-8300-8a3cf9f95b3...
1,4c486414-d4f5-33f6-b485-24a8ed2925e8,[{'toId': '016099ea-6f20-3fec-94cf-f7afa239f39...
2,7e5838fc-bce1-371f-a3ac-d8a0b2a05d9a,[{'toId': '1f873432-6944-3df9-8300-8a3cf9f95b3...
3,82661ecd-d87f-3dff-855e-378f7cb6d912,[{'toId': '47896677-7c81-381f-8d03-3b2c94a27fd...
4,d62d56ea-775e-328c-8b08-db7ad7f834e5,[{'toId': '876b4958-7df1-3b2b-9def-1a22f1d444e...

supervised_dataset

,Unnamed: 0,_id,inter_api_access_duration(sec),api_access_uniqueness,sequence_length(count),vsession_duration(min),ip_type,num_sessions,num_users,num_unique_apis,source,classification
0,0,1f2c32d8-2d6e-3b68-bc46-789469f2b71e,0.000812,0.004066,85.643243,5405,default,1460.0,1295.0,451.0,E,normal
1,1,4c486414-d4f5-33f6-b485-24a8ed2925e8,0.000063,0.002211,16.166805,519,default,9299.0,8447.0,302.0,E,normal
2,2,7e5838fc-bce1-371f-a3ac-d8a0b2a05d9a,0.004481,0.015324,99.573276,6211,default,255.0,232.0,354.0,E,normal
3,3,82661ecd-d87f-3dff-855e-378f7cb6d912,0.017837,0.014974,69.792793,8292,default,195.0,111.0,116.0,E,normal
4,4,d62d56ea-775e-328c-8b08-db7ad7f834e5,0.000797,0.006056,14.952756,182,default,272.0,254.0,23.0,E,normal

remaining_behavior_ext

,Unnamed: 0,_id,inter_api_access_duration(sec),api_access_uniqueness,sequence_length(count),vsession_duration(min),ip_type,behavior,behavior_type,num_sessions,num_users,num_unique_apis,source
0,0,024aae60-1a81-3f37-bbe6-3f832c919706,7.010387,0.419355,31.0,13040,default,outlier,outlier,1.0,1.0,13.0,E
1,1,028d67dd-c6d0-329f-a20e-78db9eab7a55,51.419393,0.252336,107.0,330113,default,outlier,outlier,1.0,1.0,27.0,E
2,2,02d12bf9-5fe2-3d0c-b233-30e02224b686,25.860775,0.275000,40.0,62066,default,outlier,outlier,1.0,1.0,11.0,E
3,3,0b3aee1e-dc3b-3728-bc55-f57a23446b3d,0.205909,0.818182,11.0,136,default,outlier,outlier,1.0,1.0,9.0,E
4,4,0dbfffb4-3ed4-3cb2-904d-c348501a996e,0.122125,0.812500,16.0,118,default,outlier,outlier,1.0,1.0,13.0,E

remaining_call_graphs

,_id,call_graph
0,024aae60-1a81-3f37-bbe6-3f832c919706,[{'toId': 'aadf8ca9-ffda-30f0-bacf-2203e80c081...
1,028d67dd-c6d0-329f-a20e-78db9eab7a55,[{'toId': 'c67d65cf-fc4e-3744-9969-a2126e19875...
2,02d12bf9-5fe2-3d0c-b233-30e02224b686,[{'toId': 'aadf8ca9-ffda-30f0-bacf-2203e80c081...
3,0b3aee1e-dc3b-3728-bc55-f57a23446b3d,[{'toId': 'aadf8ca9-ffda-30f0-bacf-2203e80c081...
4,0dbfffb4-3ed4-3cb2-904d-c348501a996e,[{'toId': 'a05a261f-128d-3cd8-a8e1-d6e52e16194...

In [20]:
#for the first version, we will use the supervised_dataset, where we have the data classified manually
supervised_dataset

,Unnamed: 0,_id,inter_api_access_duration(sec),api_access_uniqueness,sequence_length(count),vsession_duration(min),ip_type,num_sessions,num_users,num_unique_apis,source,classification
0,0,1f2c32d8-2d6e-3b68-bc46-789469f2b71e,0.000812,0.004066,85.643243,5405,default,1460.0,1295.0,451.0,E,normal
1,1,4c486414-d4f5-33f6-b485-24a8ed2925e8,0.000063,0.002211,16.166805,519,default,9299.0,8447.0,302.0,E,normal
2,2,7e5838fc-bce1-371f-a3ac-d8a0b2a05d9a,0.004481,0.015324,99.573276,6211,default,255.0,232.0,354.0,E,normal
3,3,82661ecd-d87f-3dff-855e-378f7cb6d912,0.017837,0.014974,69.792793,8292,default,195.0,111.0,116.0,E,normal
4,4,d62d56ea-775e-328c-8b08-db7ad7f834e5,0.000797,0.006056,14.952756,182,default,272.0,254.0,23.0,E,normal
...,...,...,...,...,...,...,...,...,...,...,...,...
1694,1694,3653d165-4b93-346b-9543-f1d4f5bf4831,45.603433,0.800000,15.000000,41044,datacenter,2.0,1.0,12.0,F,outlier
1695,1695,44356d09-52e9-321e-9ec1-630e582bfe53,852.929250,0.500000,2.000000,102352,datacenter,2.0,1.0,1.0,F,outlier
1696,1696,0ecdc692-df55-3990-815e-a30f1ee63f5f,59.243000,0.800000,5.000000,17773,datacenter,3.0,1.0,4.0,F,outlier
1697,1697,468a84b3-2885-30d6-b1a8-6cf2e44577cd,0.754000,0.666667,3.000000,136,datacenter,2.0,1.0,2.0,F,outlier
1698,1698,2854b436-7d8b-3f2c-8139-3340ad2cd45a,66.934857,0.428571,7.000000,28113,datacenter,3.0,1.0,3.0,F,outlier

In [41]:
#dropping unused column
supervised_dataset_treated = supervised_dataset.drop(['Unnamed: 0'], axis=1)

In [42]:
#knowing the ip_type categories
supervised_dataset_treated['ip_type'].unique()

array(['default', 'datacenter'], dtype=object)

In [43]:
#replace categories to normalize ////// defaulf = -1  -------  datacenter = 1
supervised_dataset_treated['ip_type'] = supervised_dataset_treated['ip_type'].replace('default', -1).replace('datacenter', 1)

In [47]:
#knowing the source categories
supervised_dataset_treated['source'].unique()

array(['E', 'F'], dtype=object)

In [49]:
#replace categories to normalize ////// E = -1  -------  F = 1
supervised_dataset_treated['source'] = supervised_dataset_treated['source'].replace('E', -1).replace('F', 1)

In [54]:
#knowing the classification categories
supervised_dataset_treated['classification'].unique()

array(['normal', 'outlier'], dtype=object)

In [55]:
#replace categories to normalize ////// E = -1  -------  F = 1
supervised_dataset_treated['classification'] = supervised_dataset_treated['classification'].replace('normal', 0).replace('outlier', 1)

In [58]:
supervised_dataset_treated.to_csv('../dataset/normalized/supervised_dataset_treated')